.App {
    font-family: 'Open Sans', sans-serif;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #F2F2F2;
    padding-top: 4rem;
}

.container {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}
