.AppHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 0.1rem;
}

.AppHeader h1 {
    font-size: 4rem;
    font-weight: 600;
    color: var(--color-headings);
}

.AppHeader p {
    font-size: 1.5rem;
    font-weight: bolder;
    opacity: .8;
    color: var(--color-gray);
}
