.AppHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 0.1rem;
}

.AppHeader h1 {
    font-size: 4rem;
    font-weight: 600;
    color: #333333;
}

.AppHeader p {
    font-size: 1.5rem;
    color: #828282;
}
